.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  transition: 0.5s;
  z-index: 200;
  padding: 10px 80px;
  background-color: var(--headerBg);
  color: white;
}
.navBar h1 {
  font-size: 25px;
  font-weight: 600;
}
.navBar .links {
  display: flex;
  gap: 15px;
  align-items: center;
}
.link {
  position: relative;
  font-weight: 500;
  transition: 0.5s;
  color: var(--BtnColor);
}

.link:hover {
  opacity: 0.7;
}
.active {
  color: var(--BtnColorActive);
  background-image: var(--btnBg);
  padding: 3px 8px;
  border-radius: 10px;
}
.activeLinkBarBg {
  background-image: var(--btnBg);
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
}

.burgerMenu,
.closeBurger {
  display: none;
}

.navBar .linksMobile {
  display: none;
}

@media (max-width: 768px) {
  .burgerMenu {
    height: 50px;
    width: 50px;
    display: block;
    cursor: pointer;
    color: var(--bergurColor);
  }
  .closeBurger {
    display: block;
    cursor: pointer;
    color: var(--bergurColor);
  }
  .navBar {
    justify-content: space-between;
    padding: 0px 30px;
  }
  .navBar .links {
    display: none;
    z-index: -10;
  }
  .navBar .linksMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: -300px;
    left: 0px;
    width: 100%;
    background-color: var(--headerBg);
    color: white;
    padding-bottom: 5px;
    transition: top 0.5s;
    z-index: -10;
  }
  .linksMobile.open {
    top: 50px;
  }
  .active {
    background-image: var(--btnBg);
  }
}
