.journeyContainer {
  padding: 4rem 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.journeyContainer h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}

.journeyContainer p {
  line-height: 1.6;
  font-size: 20px;
}
