.project {
  padding-top: 50px;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}

.project h2 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.filter {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.filter button {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--BtnColor);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.filter button.active {
  background-image: var(--btnBg);
  color: var(--BtnColorActive);
  border: none;
}
