@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --textcolor: #c0c0c0;
  --BtnColor: black;
  --btnBg: linear-gradient(to right, orange, yellow);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #1a1a2e;
  color: var(--textcolor);
}
.appContainer {
  width: 85%;
  margin: auto;
  padding: 0 80px;
}
.gradientText {
  background: linear-gradient(to right, orange, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 992px) {
  .appContainer {
    padding: 0;
  }
}
